<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.dao.EnvDao">
	<select id="searchBySido"
		resultType="com.ssafy.happyhouse.model.EnvironmentDto">
		select envName, checksido, divide, checkReason, address
		from environment
		where address like concat('%',#{address},'%')
	</select>
	<select id="countsido" resultType="int">
		select count(*)
		from
		environment
		where address like concat('%',#{address},'%')
	</select>
</mapper>